  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/background.jpg'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    font-family: "ＭＳ Ｐゴシック";
    
  }
  
  .title,
  .buttons,
  .content {
    width: 100%;
  }
  
  .title {
    background-color: #4C5945;
    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;
    
    padding: 10px 20px;
    margin-bottom: 1px; 
    color: white;
    font-size: 36px;
    
  }

  .title img {
    width: 22px;
    height: 22px;
    float: right;
    cursor: pointer;

  }

  .title img:first-child { 
    margin-right: 10px;
  }


  
  .buttons {
    background-color: #4C5945;
    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;
    
    padding: 5px 20px;
    margin-bottom: 20px; /* Adjust the gap here */
    text-align: center;
  }
  
  .buttons button {
    padding: 5px 20px;
    margin: 0 10px;
    background-color: #4C5945;
    color: #75816D;
    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;
    cursor: pointer;
    width: 90px;
  }
  
  .buttons button:hover {
    background-color: #4C5945;
    color: white;

    border-top: 1px solid #34391C;
    border-left: 1px solid #34391C;
    border-right: 1px solid #958C7B;
    border-bottom: 1px solid #958C7B;
  }


  
  
  .buttons img {
    width: 22px;
    height: 22px;
    float: right;
    cursor: pointer;

  }

  .button img:first-child { 
    margin-right: 10px;
  }
  
  .content {
    background-color: #4C5945;

    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;
    
    padding: 20px;
    margin-bottom: 20px; 
    height: 500px;
    
    color: white;
   
  }

  .content img {
    width: 22px;
    height: 22px;
    float: right;
    cursor: pointer;
    

  }


  .content-inner{
    margin-top: -440px;
    margin-left: 20px;
  }

  .content-inner img {

    width: 390px;
    height: 250px;
    

    border-top: 1px solid #34391C;
    border-left: 1px solid #34391C;
    border-right: 1px solid #958C7B;
    border-bottom: 1px solid #958C7B;

  }



  .content-inner2 {
    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;

    width: 490px;
    height: 400px;

    margin-left: 430px;
    margin-top: 70px;

    background-color: #4C5945;

   
  }

  .content-inner2 a{
    color: #A49D66;

  }

  .content-inner2 img{
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 15px;
    margin-right: 0px;
    cursor: pointer;
    

  }

  .content-inner2 img:first-child { 
    margin-right: 16px;
  }

  .content-inner3 {
    border-top: 1px solid #34391C;
    border-left: 1px solid #34391C;
    border-right: 1px solid #958C7B;
    border-bottom: 1px solid #958C7B;
    background-color: #3E4637;
    width: 400px;
    height: 320px;

    
    margin-top: 25px;
    margin-left: 40px;

    text-align: center;
    vertical-align: middle;
    line-height: 320px;
  }

  .content-inner3 a{
    color: white;
  }



  .content-inner4 {
    border-top: 1px solid #34391C;
    border-left: 1px solid #34391C;
    border-right: 1px solid #958C7B;
    border-bottom: 1px solid #958C7B;
    background-color: #3E4637;
    width: 300px;
    height: 150px;

    margin-top: -135px;
    margin-left: 50px;

   
  }

  .content-inner4 h1{
    font-size: small;
    text-align: center;
    color: #A49D66
  }
  
  .content-inner4 a{
    font-size: small;
    text-align: center;
    color: #AEB08B;
    font-style: bold;
    
  }

  .content-inner4 p{
    font-size: small;
    text-align: left;
    color: #75816D;
    
    
  }


  .sidebar {
    height: 350px;
    width: 140px; 

    position: relative;
    
    z-index: 1; 
    top: 0; 
    right: 0;
    
    background-color: #4C5945; 

    border-top: 1px solid #958C7B;
    border-left: 1px solid #958C7B;
    border-right: 1px solid #34391C;
    border-bottom: 1px solid #34391C;
    
    margin-top: -460px;
    margin-left: 1030px;

    overflow-x: hidden;
    padding-top: 20px;
  }
  
 
  .sidebar a {
    padding: 0px 8px 0px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #A49D66;
    display: block;
  }
  
  
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar h3 {
    padding: 6px 14px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }
  
  .sidebar img {
    height: 22px;
    width: 22px;
    float: right;
    margin-top: 0px;
    cursor: pointer;

  }

  .sidebar img:first-child { 
    margin-right: 10px;
    
  }

  .skull {
     
    position: relative;
    z-index: 3; 
    top: 0; 
    right: 0;

    margin-top: -100px;
    margin-left: 1105px;

  }

  .block-of-text {
    
    color: #75816D;
    
    margin-bottom: 0px;

    z-index: 1;
    position: relative;

    height: 400px;

    top: 0;


    margin-left: 410px;
    margin-top: -465px ;
    line-height: 1.2;



    
}



.content-inner2,
.content-inner3 {
    position: relative;
    z-index: 2; 
}

.haine {
  height: 20px;
  width: 150px;


  margin-top: 12px;
  margin-left: 8px;
}


.construction {
  text-align: center;
}

.construction img{
  width: 700px;
  height: 300px;
  margin-right: 100px;
  margin-top: 80px;
}

.name {

  width: 50px;
  margin-top: -300px;
  margin-left: 16px;
  color: #75816D;
}

.links {

  width: 50px;
  
  
}

.links a{
  color: #75816D;
  font-size: 16px;
}

.links a:hover{
  color: #75816D;
  font-size: 16px;
}


.user {
  border: 1px solid black;
  width: 300px;
  height: 300px;

  margin-left: -75px;
  margin-top: -50px;

  border-top: 1px solid #958C7B;
  border-left: 1px solid #958C7B;
  border-right: 1px solid #34391C;
  border-bottom: 1px solid #34391C;

  background-color: #4C5945;
  z-index: 1;
}

.user img {
  height: 22px;
  width: 22px;
  float: right;
  margin-top: -32px;
  cursor: pointer;
  margin-right: 10px;

}

.user img:first-child { 
  margin-right: 32px;
  
}


.user-img {
  width: 250px;
  height: 225px;
  margin-top: 50px;
  margin-left: 25px;
  background-image: url('img/IMG_20230806_192545_489.jpg');

  background-size: 100% 100%;

  border-top: 1px solid #34391C;
  border-left: 1px solid #34391C;
  border-right: 1px solid #958C7B;
  border-bottom: 1px solid #958C7B;

  z-index: 1;
}

.hanged {
  margin-top: -289px;
  margin-left: -40px;
}

.suspec {
  margin-top: -535px;
  margin-left: -60px;
  color: #A49D66;
}

.info {
  border-top: 1px solid #958C7B;
  border-left: 1px solid #958C7B;
  border-right: 1px solid #34391C;
  border-bottom: 1px solid #34391C;

  background-color: #4C5945;

  height: 300px;
  width: 300px;
  margin-left: 70px;
  margin-top: -50px;
}

.info img {
  height: 22px;
  width: 22px;
  float: right;
  margin-top: 18px;
  cursor: pointer;
  margin-right: 0px;

}

.info img:first-child { 
  margin-right: 10px;
  
}

.info-inside {
  border-top: 1px solid #34391C;
  border-left: 1px solid #34391C;
  border-right: 1px solid #958C7B;
  border-bottom: 1px solid #958C7B;

  background-color: #3E4637;
  width: 250px;
  height: 225px;

  margin-top: 50px;
  margin-left: 25px;
}

.evidence {
  color: #A49D66;
  margin-top: 235px;
  margin-left: 90px;
}

.evidence-show {
  color: #A49D66;
  margin-top: -170px;
  margin-left: 415px;
}

.options {
  margin-right: 0px;
}
.option {
  cursor: pointer;
  margin-bottom: 5px;

}
.option:hover {
  background-color: #282E20;
}
.info-here {
  
  padding: 10px;

  background-color: #3E4637;

  margin-top: 50px;
  margin-left: 25px;
  width: 510px;
  height: 340px;

  border-top: 1px solid #34391C;
  border-left: 1px solid #34391C;
  border-right: 1px solid #958C7B;
  border-bottom: 1px solid #958C7B; 
}

.info-here-outside {
  border-top: 1px solid #958C7B;
  border-left: 1px solid #958C7B;
  border-right: 1px solid #34391C;
  border-bottom: 1px solid #34391C;

  margin-top: -450px;
  margin-left: 400px;

  width: 580px;
  height: 440px;
}

.info-here-outside img {
  height: 22px;
  width: 22px;
  float: right;
  margin-top: -175px;
  cursor: pointer;
  margin-right: 18px;


}

.info-here-outside img:first-child   {

  margin-right: 40px;


}

.kitty img {
  height: 60px; 
  width: 300px;

  margin-top: -232px;
  margin-right: -300px;

  cursor: grab;

}

.banana {

  width: 50px;
  height: 50px;
  margin-left: 275px;
  
}
.banana img{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  cursor: default;
  
  

}

/* LOGIN STYLES */

.loginBackground { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/spy.jpg'); /* Replace 'background.jpg' with your image path */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.loginContainer {
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  font-family: "ＭＳ Ｐゴシック";
}

.loginContent {
  border-top: 1px solid #958C7B;
  border-left: 1px solid #958C7B;
  border-right: 1px solid #34391C;
  border-bottom: 1px solid #34391C;
  background-color: #4C5945;
  height: 300px;
  width: 400px;
  text-align: center;
  
}

.loginContent2 {
  margin-left: 50px;
  margin-top: 20px;
  border-top: 1px solid #34391C;
  border-left: 1px solid #34391C;
  border-right: 1px solid #958C7B;
  border-bottom: 1px solid #958C7B;
  background-color: #3E4637;
  height: 200px;
  width: 280px;
  text-align: center;
  
}

.textBoxdiv {
  margin-bottom: 20px;
  margin-top: 45px;
}

.textBoxdiv input {
  background: none;
  border: 2px solid #75816D;
  outline: none;
  width: 100px;
  color: white;
  height: 20px;
  font-size: 16px;

}

.loginBtn {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;

  color: #75816D;
  font-size: 16px;
  cursor: pointer;
  margin-top: 55px;

  border-top: 1px solid #958C7B;
  border-left: 1px solid #958C7B;
  border-right: 1px solid #34391C;
  border-bottom: 1px solid #34391C;
  background-color: #4C5945;
}

.loginBtn:hover {
  background: #4C5945;
  color: white;
  border-top: 1px solid #34391C;
  border-left: 1px solid #34391C;
  border-right: 1px solid #958C7B;
  border-bottom: 1px solid #958C7B;
}

.signup {
  color: rgb(222, 217, 217);
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup a {
  color: rgb(222, 217, 217);
  font-weight: bold;
}


.loginTitle {

  width: 15px;
  height: 180px;
  margin-top: -230px;
  margin-left: 10px;

  text-align: center;
  margin-bottom: 15px;
  color: #75816D;
  font-size: 18px;
}


.loginContent img {
  height: 22px;
  width: 22px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 0px;


}

.loginContent img:first-child {
  margin-right: 10px;


}

.loginSmoke {
  border: none;
  width: 150px;
  height: 200px;
  margin-left: 300px;
  margin-top: -180px;
}

.loginSmoke img {
  height: 200px;
  width: 180px;
}
